apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "activemq.fullname" . }}-config
  labels:
    {{- include "activemq.labels" . | nindent 4 }}
data:
  users.properties: |
    {{ .Values.auth.username }}={{ .Values.auth.password }}
  groups.properties: |
    admins={{ .Values.auth.username }}